<head>
  <title>DDI</title>
  <script src="/js/vendor/jquery.min.js"></script>
  <script src="/js/vendor/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/css/vendor/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="/js/vendor/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> 
  <script defer src="/js/vendor/all.js"></script>
  <script src="/js/vendor/masonry.pkgd.js"></script>
  <script src="/js/vendor/imagesloaded.pkgd.js"></script>
  <script src="/js/custom.js"></script>
  <link rel="stylesheet" href="/css/style.css" />
  <script>
      $(document).ready(function () {
        var $grid = $('.grid').masonry({
        itemSelector: '.grid-item',
        percentPosition: true,
        columnWidth: '.grid-sizer'
        });
        // layout Masonry after each image loads
        $grid.imagesLoaded().progress( function() {
          $grid.masonry();
        }); 

        $('.grid-item').hover(function(e){
            var text = $(e.target).parent().find('.grid-item-label');
            text.css({ display: 'block'});
        }, function(e){
            var text = $(e.target).parent().find('.grid-item-label');
            text.css({ display: 'none'});
        });



        var inputs = document.querySelectorAll( '.inputfile' );
        Array.prototype.forEach.call( inputs, function( input )
        {
          var label	 = input.nextElementSibling.nextElementSibling,
            labelVal = label.innerHTML;

          input.addEventListener( 'change', function( e )
          {
            console.log("Listener fired");
            var fileName = '';
            if( this.files && this.files.length > 1 )
              fileName = ( this.getAttribute( 'data-multiple-caption' ) || '' ).replace( '{count}', this.files.length );
            else
              fileName = e.target.value.split( '\\' ).pop();

            if( fileName )
              label.innerHTML = fileName;
            else
              label.innerHTML = '';
          });
        });

        setTimeout(function() {
          $('#toast').hide();
        }, 5000);
      }); 
    </script>
</head>