<% include ./partials/header %>

<body>
    <div class="container-fluid background padding-20">
      <div class="full-height container-fluid padding-20 is-rounded is-white">
          <div class="header clearfix">
            <% include ./partials/navbars/loggedin %> 
          </div>
          <div class="spacer"></div>
          <div class="container-fluid">
                <h2 class="page-header">Dashboard</h2>
                <p>Welcome to your dashboard</p>  
                <div class="container">
                    something
                </div>
          </div>
          <% include ./partials/footer %>  
        </div>
      </div>
    </div>
      
  </body>