/* Space out content a bit */
body {
  height: 100vh;
}
.background {
  background: linear-gradient(
    rgba(0, 0, 0, 0.7), 
    rgba(0, 0, 0, 0.7)
  ), url('./../images/bg.png');
  height: 100%;
}

.spacer {
  height: 2vh;
}

.full-height {
  height: 100%;
}

h3 {
  margin: 0;
}

.padding-20 {
  padding: 20px;
}

.is-rounded {
  border-radius: 10px;
}

.is-white {
  background: white
}

.login-container {
  width: 50vw;
}

.navbar {
  flex-direction: row;
  justify-content: space-between;
}

.footer {
  padding-right: 15px;
  padding-left: 15px;
}


/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

footer{
  margin-top:40px;
}