/* Space out content a bit */
body {
  min-height: 100vh;
}
.background {
  background: linear-gradient(
    rgba(0, 0, 0, 0.7), 
    rgba(0, 0, 0, 0.7)
  ), url('./../images/bg.png');
  height: 100%;
}

.spacer {
  height: 2vh;
}

.full-height {
  height: 100%;
  overflow-y: scroll;
}

.sticky {
  position: absolute;
  bottom: 5vh;
  right: 5vh;
  z-index: 99999;
  background: white;
  border-radius: 50%;  
}

.sticky a {
  color: #d9534f;
}

h3 {
  margin: 0;
}

.padding-20 {
  padding: 20px;
}

.is-rounded {
  border-radius: 10px;
}

.is-white {
  background: white
}

.login-container {
  width: 50vw;
}

.navbar {
  flex-direction: row;
  justify-content: space-between;
}

.footer {
  padding-right: 15px;
  padding-left: 15px;
}

.gallery.container-fluid {
  padding: 0;
}


/* masonry */

.grid {
  background: #DDD;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-sizer,
.grid-item {
  width: 20%;
}

.grid-item {
  float: left;
}

.grid-item img {
  display: block;
  max-width: 100%;
  padding: 1px;
}

.grid-item img:hover {
  -moz-box-shadow: 0 0 20px #000;
  -webkit-box-shadow: 0 0 20px #000;
  box-shadow: 0 0 20px #000;
}

.grid-item-label {
  position: absolute;
  display: none;
  padding: 2px 5px;
  border-radius: 2px;
  background: rgba(255,255,255,0.6);
  bottom: 5px;
  right: 5px;
}


.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.file-label {
  margin: 0;
}

.file-info {
  font-size: .7em;
  padding-left: 2px;
}